@model ErrorDto

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error : @Model.StatusCode</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@foreach (var item in Model.Errors)
{
    <p>@item</p>

}
